In [2]:
# imprimir los numeros del 1 al 5 utilizando bucle for

list_num=[1,2,3,4,5]

print(list_num)


for numero in list_num:
    print(numero)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [1]:
# 2. calcula la suma  de los 10 primeros numeros naturales usando un bucle lfor

suma=0
for numero in range(0,11):
    suma+=numero
    print(numero)
print (suma)

0
1
2
3
4
5
6
7
8
9
10
55

In [ ]:
#3.calcular el producto de los elementos de una lista

total_producto=1
for numero in range(1,11):
    total_producto=numero*total_producto
    print(numero)
print (total_producto)

1
2
3
4
5
6
7
8
9
10
3628800

In [3]:
#4. imprime los caracteres de una cadena de texto

cadena='no para de llover'

for letra in cadena:
    print(letra)

n
o

p
a
r
a

d
e

l
l
o
v
e
r

In [4]:
#5 imprimi los numeros pares de uno a 100 usando for, ascendente

for num in range(1,101):
    if num%2==0:
        print (num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [12]:
#6. imprimir los numeros primos de 1 a 50 usando for 

for num in range(1,51):
    if num%2!=0 and num%5!=0:
        print(num)

1
3
7
9
11
13
17
19
21
23
27
29
31
33
37
39
41
43
47
49

In [20]:
#7 calcular el factorial de un numero usando el bucle for

numero=int(input('introduce un numero entereo  y positivo '))

print(numero)
factorial=1
for num in range(numero,0,-1):
    print (num)
    factorial=num*factorial
print(factorial)

3
3
2
1
6

In [ ]:
#8 juego de adivinar palabras usando un bucle for

In [ ]:
#EJERCICIOS LIST COMP

In [ ]:
#1 generar una lista de los numero pares de 1 a 20 con list comprehension

lista_pares=[  num for num in range(1,21) if num%2==0 ]
print(lista_pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
#2 obtenere una lista de vocales en una cadena de texto 

cadena='quiero salir a la calle '
vocales =['a','e','i','o','u']

lista_vocales=[letra for letra in cadena if letra in vocales]
print(lista_vocales)

['u', 'i', 'e', 'o', 'a', 'i', 'a', 'a', 'a', 'e']

In [31]:
#3 filtrar los numeros positivos de una lista y calcular su cuadrado

lista_numeros=[-1,5,6,-8,8,-10,-15,25]

lista_positivos=[positivos**2 for positivos in lista_numeros if positivos>0 ]
print(lista_positivos)

[25, 36, 64, 625]

In [7]:
##realizar una busqueda en una lista y capturar una excepción en caso de valor no encontrado.


lista_nombres = input("Introduce una lista de nombres")
print(lista_nombres)

nombre_buscar = input("Introduce el nombre a buscar")
print (nombre_buscar)

try:

    lista_nombres.index(nombre_buscar)
    
except:
    print("El nombre que has puesto no está en la lista")

["Isa","Julia"]
Maria
El nombre que has puesto no está en la lista